/*
body {
    color: black;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 600px;
}


div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}


div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}
*/

body {
    font-family: 'CMS', 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
}

h1 {
    font-family: 'CMS', 'Droid Serif', Georgia, Times, serif;
    font-size: 49px;
    line-height: 65px;
    text-align: left;
} 

h2 {
    font-size: 30px
    font-weight: bold;
    text-align: left;
}

div.info {
    color: #555;
    font-style: italic;
}


#full-screen-background-image {
    z-index: -999;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

blockquote {
    background: #e6e6e6 url("../images/quote-background.png") no-repeat left top;
    font-style: italic;
    margin-left: 18px;
    padding: 6px 6px 6px 54px;
    font-size: 16px;
}

a:link {
    color: rgb(109,109,109);
}
a:visited { 
    color: rgb(109,109,109);
}
a:hover {
    color: rgb(109,109,109);
}
a:active {
    color: rgb(109,109,109);
}

nav {
    font-size: 18px;
}