dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
_cache
_site
.site3.hs
thoughts.txt
parametric_equations.txt
update.sh
site
Computer\ Modern/
js/MathBox.js/.DS_Store