<div class="info">
    <p style="font-family:CMSS; font-size:130%">Posted on $date$</p>
    <p style="font-family:CMS; font-style:italic">$tags$</p>
    <!--$if(author)$
        by $author$
    $endif$-->
</div>
</br>

$body$

<div id="disqus_thread"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

<script src="/js/inlineDisqussions.js"></script>
<script src="/js/disqus.js"></script>